.pokeCardDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pokeCard{
    width: 12rem;
    background-color: #708d81;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.pokeCard:hover {
    cursor: pointer;
}